<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (presupuestoService.presupuesto()) {
    <ion-card>
      <ion-card-content>
        <ion-item lines="full">
          <ion-label>Presupuesto</ion-label>
          <ion-note slot="end">
            {{ presupuestoService.presupuesto()!.monto | currency }}
          </ion-note>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Total Gastado</ion-label>
          <ion-note slot="end">
            {{ gastosService.totalMes() | currency }}
          </ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Saldo Disponible</ion-label>
          <ion-note slot="end"
            [style.color]="saldoDisponible() < 0 ? '#eb445a' : '#2dd36f'">
            {{ saldoDisponible() | currency }}
          </ion-note>
        </ion-item>
      </ion-card-content>
    </ion-card>
  }

  @if (chartSeries.length > 0) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Gastos por Categoría</ion-card-title>
        <small>Este mes</small>
      </ion-card-header>
      <ion-card-content>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [colors]="chartOptions.colors"
          [legend]="chartOptions.legend"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [stroke]="chartOptions.stroke"
          [theme]="chartOptions.theme">
        </apx-chart>
      </ion-card-content>
    </ion-card>
  }

  @if (mayoresGastos.length > 0) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mayores Gastos</ion-card-title>
        <small>Este mes</small>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          @for (item of mayoresGastos; track item.id) {
            <ion-item>
              <div slot="start" class="cat-dot" [style.background]="item.color"></div>
              <ion-label>
                <h3>{{ item.nombre }}</h3>
                <p>{{ item.porcentaje | number:'1.0-0' }}% del total</p>
              </ion-label>
              <ion-note slot="end" color="primary">
                {{ item.monto | currency }}
              </ion-note>
            </ion-item>
          }
        </ion-list>
      </ion-card-content>
    </ion-card>
  }

  @if (gastosService.gastosMesActual().length === 0) {
    <div class="ion-text-center ion-padding">
      <p style="color: var(--ion-color-medium)">Sin gastos este mes</p>
    </div>
  }

</ion-content>