<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-list-header>Apariencia</ion-list-header>

    <ion-item>
      <ion-icon
        slot="start"
        [name]="themeService.darkMode() ? 'moon-outline' : 'sunny-outline'"
        [color]="themeService.darkMode() ? 'primary' : 'warning'">
      </ion-icon>
      <ion-label>
        Modo oscuro
        <p>{{ themeService.darkMode() ? 'Activado' : 'Desactivado' }}</p>
      </ion-label>
      <ion-toggle
        slot="end"
        [checked]="themeService.darkMode()"
        (ionChange)="themeService.toggle()">
      </ion-toggle>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>Información</ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>Versión</ion-label>
      <ion-note slot="end">1.0.0</ion-note>
    </ion-item>
  </ion-list>

</ion-content>